@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Admin</h2>
                <ol>
                    <li><a href="index.cshtml">Admin</a></li>
                    <li>Index</li>
                </ol>
            </div>

        </div>
    </section>

    <section class="inner-page">
        <div class="container">
            <p>
               Welcome To Admin Dashboard
            </p>
        </div>
    </section>
